body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
.content-custom{
    margin: 24px 0px !important;
    height:100vh !important;
    width:100%  !important;
}
.header-custom{
    background-color: royalblue !important;
    text-align: center;
    color: white !important;
    font-size: 27px ;
}
.alert-custom{
    margin: 10px 0px;
    padding: 15px;
    font-size: 20px;
    font-weight: 600;
}
.loginForm-email-custom{
    margin-left: 6% !important; 
}
.loginForm-submit-custom{
    margin-left: 18% !important;
}
.logout-main-div{
    margin:10px;
}
.loginform-loader-custom{
    margin-left: 54%;
}